/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 60% !important;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 50% !important;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 45% !important;
  }
}

/* xs */
@media (max-width: 767px) {
  html {
    font-size: 40% !important;
  }
}

/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 35% !important;
  }
}

@media (max-width: 900px) {
  .hover-scale {
    transform: scale(1);
  }
  .home{
      flex-direction: column;
  }
  .home .left {
    width: 100%;
  }
  .home .left1 {
    width: 100%;
  }
  .home .content {
    width: 100%;
    flex-direction: column;
  }
  .home .content .card {
    width: 100%;
    margin: 1rem;
  }
  .home img {
    width: 60%;
  }
  .homeimg{
      display: none;
  }
  .card p {
    font-size: 2rem;
  }
  .form form {
    width: 90%;
  }
  #passmsg {
    top: 0;
    transform: translateX(0) translateY(-140%);
  }
  #passmsg::before {
    bottom: -25px;
    top: auto;
    transform: rotate(-90deg);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .contact {
    flex-direction: column;
  }
  .Cleft,
  .Cright {
    width: 90%;
  }
  /* books page */
  .books-top{
    flex-direction: column;
  }
  .books-left,
  .books-right{
    width: 90%;
    margin: 3rem 0;
  }
  .booksNav{
    height: 60px;
  }
  .booksNav .input-group{
    width: 30vw;
  }
  /* footer */
  .footer{
    flex-direction: column;
    /* min-height:60vh ; */
    
  }
  .Fright{
    margin-bottom: 80px;
  }
  .Fright,.Fleft{
    width: 100%;
  }
}
@media (max-width: 900px) {
  nav .fa-ellipsis-vertical{
      font-size: 4rem;
      cursor: pointer;
      transform: rotate(0deg);
      transform: scale(1);
      transition: var(--trans3);
  }
   nav .open{
     transform: rotate(90deg);
   }
  nav .leftlink{
    position: absolute;
    flex-direction: column;
    right: 10%;
    top: 70px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    box-shadow: 0 0 10px grey,
                inset 0px 0px 5px black;
    padding: 2rem;
    transform: scale(0);
    transition: var(--trans1);
  }
  .openNav{
    transform: scale(1) !important;
  }
  nav .leftlink a{
    font-size: 3rem;
    padding: 1rem;
    overflow: hidden;
  }
}
