.section-head{
    width: 100%;
    height: 15rem;
    cursor: pointer;
    padding: 0 2rem;
    transform: scale(.90);
    transition: var(--trans1);
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: inset 0px 0px 20px grey, 
                inset -0px -0px 20px black;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: transparent;
    position: relative;
    color: black;
    text-decoration: none;
}
.section-head:hover{
    transform: scale(.95);
    background-color: transparent;
     box-shadow: inset 0px 0px 20px grey, 
                inset -0px -0px 20px black,
                0px 0px 20px grey;
    color: black;
}
.section-head:active{
    box-shadow: inset 0px 0px 30px black, 
                inset -0px -0px 30px black;
    transform: scale(.8);
}
.section-head i{
    position: absolute;
    top: 60%;
    font-size: 4rem;
    transform: scale(0);
    transition: var(--trans1);
}
.section-head:hover i{
    transform: scale(1);
    color: var(--VIclr);
}
.section-head .Sleft{
    margin-right: 10%;
}
.section-head .Sleft,
.section-head .Sright{
    width: 40%;
    
}
.section-bottom{
    width: 0%;
    margin: auto;
    height: 0vh;
    background-color: white;
    animation: 1s shrink;
}

@keyframes shrink {
    0%{
        width: 90%;
        height: 80vh;
    }
    100%{
        width: 0%;
        height: 0vh;
    }
}
.expand{
    width: 90%;
    height: 80vh;
    animation: 1s expand;
}
@keyframes expand {
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 90%;
        height: 80vh;
    }
}

/* contact */
.contact{
    width: 100vw;
    height: 80vh;
    background: url("../../images/back2.jpeg") center;
    justify-content: space-around !important;
}
.Cleft,.Cright{
    width: 45%;
}
.Cleft  input,
.Cleft textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--VIclr);
    color: white;
    font-size: 2rem;
    outline: none;
    margin-top: 1rem;
    transition: var(--trans1);
}
.Cleft textarea:hover,
.Cleft textarea:focus,
.Cleft input:hover,
.Cleft input:focus{
    background-color: transparent;
    border: none;
    border-bottom: 5px solid var(--VIclr);
    color: white;
    font-size: 2rem;
    outline: none;
    box-shadow: none;
}
.Cright iframe{
    width: 100%;
    height: 50vh;
    border-radius: 2rem;
    transform: scale(.95);
    transition: var(--trans1);
}
.Cright iframe:hover{
    transform: scale(1);
}
.books-top{
    width: 100%;
    height: 70vh;
    justify-content: space-around !important;
}
.books-left{
    width: 45%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: .5rem;
}
.bk1{
    grid-column:1/3;
    grid-row: 1/3;
}
.bk2{
    grid-column:3;
    grid-row: 1;
}
.bk3{
    grid-column:3;
    grid-row: 2;
}
.books-right{
    width: 45%;
    flex-direction: column;
}
.books-right a{
    text-decoration: none;
    text-align: center;
}
.books-bottom{
    width: 90%;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 2rem;
    justify-content: center;
    position: relative;
}
.books-bottom .book {
    height: 30rem ;
}
.booksNav{
    width: 100%;
    height: 80px;
    padding: 0 3rem;
    justify-content: space-between !important;
    position: fixed;
    transform: scale(0);
    top: 0;
    left: 0;
    /* background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)); */
    background-color: rgb(180, 217, 238);
    z-index: 99;
    transition: var(--trans3);
}
.booksNav-left{
    width: 45%;
}
.booksNav .input-group{
    width: 20vw;
}
.booksNav .input-group input{
    font-size: 2rem;
}
.booksNav .input-group input:focus{
    outline: none;
    box-shadow: none;
}
.booksNav .input-group button{
    width: 20%;
}
.offcanvas-header{
    font-size: 2rem;
}
.offcanvas-header h5{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.offcanvas-body p{
    font-size: 1.5rem;
}
.offcanvas-body a{
    text-decoration: none;
}